{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Varta list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Description</th>
                <th>Coordinators</th>
                <th>Social</th>
                <th>Badges</th>
                <th>Regionid</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('varta_show', { 'id': entity.id }) }}">{{ entity.description }}</a></td>
                <td>{{ entity.coordinators }}</td>
                <td>{{ entity.social }}</td>
                <td>{{ entity.badges }}</td>
                <td>{{ entity.regionId }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('varta_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('varta_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('varta_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
